{% extends 'layout.html' %}
<!-- ^^^^^^^^^^^^^^^^^^ This is a very important concept

    This is very much like inheritance. This block of HTML will inherit from the layout.html file
    It will take the layout.html file, and it will replace wherever in that file in the content
    block. Ask for further details. -->

{% block content %}
    <h1>About Page</h1>
    <h3>Contributers</h3>
    <p>Tyler McKay, Ben Kelln, Kyle Sullivan</p>
    <h3>Data Aggregate</h3>
    <p>Nova Scotia Open Data API</p>
    <h3>Who's Gay?</h3>
    <p>I AM</p>
{% endblock content %}