{% extends 'layout.html' %}

{% block head %}

<link rel = "stylesheet" href = "{{ url_for('static', filename = 'daycare.css') }}">

{% endblock head %}

{% block content %}

<script>
    var colors = ['#EF476F', '#FFD166', '#06D6A0', '#118AB2'];
    var color = colors[Math.floor(Math.random() * colors.length)];
    switch (color)
    {
        case '#EF476F':
            document.documentElement.style.setProperty('--bg-colorl', '#F16889');
            document.documentElement.style.setProperty('--bg-color', color);
            document.documentElement.style.setProperty('--bg-colord', '#C4476F');
            break;
        case '#FFD166':
            document.documentElement.style.setProperty('--bg-colorl', '#FFD981');
            document.documentElement.style.setProperty('--bg-color', color);
            document.documentElement.style.setProperty('--bg-colord', '#D1AC54');
            break;
        case '#06D6A0':
            document.documentElement.style.setProperty('--bg-colorl', '#33DDB1');
            document.documentElement.style.setProperty('--bg-color', color);
            document.documentElement.style.setProperty('--bg-colord', '#05B083');
            break;
        case '#118AB2':
            document.documentElement.style.setProperty('--bg-colorl', '#3C9FC0');
            document.documentElement.style.setProperty('--bg-color', color);
            document.documentElement.style.setProperty('--bg-colord', '#0E7192');
            break;
    }
</script>

<div class = "fgrow flexv ">

    <div class = "t-panel panel">
        <h2 class = "title">{{ daycare_info["facility_name"] }}</h2>
    </div>

    <div class = "flexh fgrow">
        <div class = "d-panel panel">
            <pre>
          .-"''-.  _
          .'       `( \
        @/            ')   ,--,__,-"
        /        /      \ /     /   _/
      __|           ,   |/         /
    .~  `\   / \ ,  |   /
  .~      `\    `  /  _/   _/
.~          `\  ~~`__/    /
~             `--'/
             /   /    /
            /  /'    
            </pre>
        </div>

        <div class = "m-panel panel fgrow">
            <style>
                table, th, td {
                  border: 3px solid black;
                  border-collapse: collapse;
                  padding: 5px;
                }
            </style>
            <table style="width:100%", bgcolor="lightgrey", padding-top="10px">
                <tr>
                  <td>Latest announced inspection</td>
                  <td>{{daycare_info["annual_inspection"]}}</td> 
                </tr>
                <tr>
                  <td>Latest unannounced inspection</td>
                  <td>{{daycare_info["annual_unannounced_inspection"]}}</td>
                </tr>
                <tr>
                  <td>Phone</td>
                  <td>{{daycare_info["phone"]}}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>{{daycare_info["email"]}}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{ daycare_info["address"] }}, {{ daycare_info["city"] }}, {{ daycare_info["postal"] }}</td>
                </tr>
                <tr>
                    <td>Care options</td>
                    <td>
                        {% if daycare_info["prog_full_day"] == "Yes" %}
                            Full-day   
                        {% endif %}
                    
                        {% if daycare_info["prog_part_day"] == "Yes" %}
                            Part-day   
                        {% endif %}
                    
                        {% if daycare_info["prog_school_age"] == "Yes" %}
                            School-day
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Care ages</td>
                    <td>
                        {% if daycare_info["age_infant"] == "Yes" %}
                            Infant   
                        {% endif %}
                    
                        {% if daycare_info["age_toddler"] == "Yes" %}
                            Toddler
                        {% endif %}
                    
                        {% if daycare_info["age_preschool"] == "Yes" %}
                            Preschool
                        {% endif %}
                    
                        {% if daycare_info["age_school_age"] == "Yes" %}
                            School-age 
                        {% endif %}
                    
                        {% if daycare_info["age_range"] %}
                            ({{daycare_info["age_range"]}})
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Total care capacity</td>
                    <td>
                        {{daycare_info["total_licance_capacity"]}}
                    </td>
                </tr>
                <tr>
                    <td>Registered daycare number</td>
                    <td>
                        {{daycare_info["facility_identifier"]}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    
</div>

{% endblock content %}

