{% extends 'layout.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename = 'directory.css') }}">

{% endblock head %}


{% block content %}

    <div class = "flexh">
        <div class = "directory flexv c3l">
            <!--This is where the daycares are displayed-->


            {% for daycare in database %}
                <a href = "/daycare/{{ daycare['index']}}" class="daycareLink">
                    <div class = "individual_daycare">
                        <h3 class="raw"> {{ daycare["facility_name"] }}</h3>
                    </div>
                </a>
            {% endfor %}
            <!-- This is where all of the filtering select boxes are
            This hasn't been structured to look good yet. The trick with this
            is that the values of each option are identical to the specific
            option within the database-->
            <!--TO DO:
            THIS LOOKS LIKE ASS AND TURNS OUT YOU CAN SORT EVERYTHING ALPHABETICALLY
            EXCEPT FOR SELECT BOX DROP DOWN MENUS. SO NEED TO FIGURE OUT A WAY HOW TO
            SORT THESE OPTIONS ALPHABETICALLY WITHIN THIS DOCUMENT ITSELF.-->
        </div>
        <div class = "filter c3l">
            <h3>FILTERS</h3>
            <p id="testing"> </p>
            <p id="testing2"> </p>
            <p id="testing3"> </p>
            
            <form method = "POST" action = "{{ url_for('directory') }}">
                <div>
                    <select name = "county" id="county">
                        <option value="noSelection"> Any County </option>
                        <option value="Antigonish County"> Antigonish </option>
                        <option value="Halifax County"> Halifax </option>
                        <option value="Cumberland County"> Cumberland </option>
                        <option value="Kings County"> Kings </option>
                        <option value="Cape Breton County"> Cape Breton </option>
                        <option value="Colchester County"> Colchester </option>
                        <option value="Richmond County"> Richmond </option>
                        <option value="Shelburne County"> Shelburne </option>
                        <option value="Annapolis County"> Annapolis </option>
                        <option value="Yarmouth County"> Yarmouth </option>
                        <option value="Queens County"> Queens </option>
                        <option value="Inverness County"> Inverness </option>
                        <option value="Pictou County"> Pictou </option>
                        <option value="Lunenburg County"> Lunenburg </option>
                        <option value="Hants County"> Hants </option>
                        <option value="Digby County"> Digby </option>
                    </select>
                </div>
    
                <!--<div>
                    <select id="daycare_type" name='daycare_type'>
                        <option value="noSelection"> Any Type </option>
                        <option value="FamilyHome"> Family Home </option>
                        <option value="DayCare"> Day Care </option>
                    </select>
                </div>-->
    
                <div>
                    <select id="city" name='city'>
                        <option value="noSelection"> Any City </option>
                        <option value="Westville"> Westville </option>
                        <option value="Cfb Greenwood"> Cfb Greenwood </option>
                        <option value="Antigonish"> Antigonish </option>
                        <option value="Barrington Passage"> Barrington Passage </option>
                        <option value="Hammonds Plains"> Hammonds Plains </option>
                        <option value="Debert"> Debert </option>
                        <option value="Port Hawkesbury"> Port Hawkesbury </option>
                        <option value="Bridgewater"> Bridgewater </option>
                        <option value="Parrsboro"> Parrsboro </option>
                        <option value="Truro"> Truro </option>
                        <option value="Cole Harbour"> Cole Harbour </option>
                        <option value="Clark's Harbour"> Clark's Harbour </option>
                        <option value="Enfield"> Enfield </option>
                        <option value="Yarmouth"> Yarmouth </option>
                        <option value="Lawrencetown"> Lawrencetown </option>
                        <option value="Dartmouth"> Dartmouth </option>
                        <option value="Shubenacadie"> Shubenacadie </option>
                        <option value="St. Peter's"> St. Peter's </option>
                        <option value="Salmon River"> Salmon River </option>
                        <option value="Milton Highlands"> Milton Highlands </option>
                        <option value="Hatchet Lake"> Hatchet Lake </option>
                        <option value="Lockeport"> Lockeport </option>
                        <option value="Dutch Settlement"> Dutch Settlement </option>
                        <option value="Chester"> Chester </option>
                        <option value="Oxford"> Oxford </option>
                        <option value="Brookdale"> Brookdale </option>
                        <option value="Halifax"> Halifax </option>
                        <option value="Shearwater"> Shearwater </option>
                        <option value="Stoney Island"> Stoney Island </option>
                        <option value="Mount Pleasant"> Mount Pleasant </option>
                        <option value="Lunenburg"> Lunenburg </option>
                        <option value="Westmount"> Westmount </option>
                        <option value="Tatamagouche"> Tatamagouche </option>
                        <option value="Prospect Bay"> Prospect Bay </option>
                        <option value="Chéticamp"> Chéticamp </option>
                        <option value="Bedford"> Bedford </option>
                        <option value="Pictou"> Pictou </option>
                        <option value="Upper Tantallon"> Upper Tantallon </option>
                        <option value="Hubley"> Hubley </option>
                        <option value="Whycocomagh"> Whycocomagh </option>
                        <option value="Valley"> Valley </option>
                        <option value="North Preston"> North Preston </option>
                        <option value="Lower South River"> Lower South River </option>
                        <option value="Canning"> Canning </option>
                        <option value="Cambridge"> Cambridge </option>
                        <option value="Berwick"> Berwick </option>
                        <option value="Trenton"> Trenton </option>
                        <option value="Arichat"> Arichat </option>
                        <option value="New Ross"> New Ross </option>
                        <option value="Brookfield"> Brookfield </option>
                        <option value="Middle Sackville"> Middle Sackville </option>
                        <option value="Kentville"> Kentville </option>
                        <option value="Bible Hill"> Bible Hill </option>
                        <option value="Brooklyn"> Brooklyn </option>
                        <option value="Mira Road"> Mira Road </option>
                        <option value="Caledonia"> Caledonia </option>
                        <option value="Porters Lake"> Porters Lake </option>
                        <option value="Gaspereau"> Gaspereau </option>
                        <option value="Wilmot"> Wilmot </option>
                        <option value="Windsor"> Windsor </option>
                        <option value="East Preston"> East Preston </option>
                        <option value="Waverley"> Waverley </option>
                        <option value="Port Williams"> Port Williams </option>
                        <option value="Digby"> Digby </option>
                        <option value="Stellarton"> Stellarton </option>
                        <option value="Shelburne"> Shelburne </option>
                        <option value="Beaver Bank"> Beaver Bank </option>
                        <option value="Masstown"> Masstown </option>
                        <option value="Little Bras D'or"> Little Bras D'or </option>
                        <option value="Sydney Mines"> Sydney Mines </option>
                        <option value="Lantz"> Lantz </option>
                        <option value="Wolfville Ridge"> Wolfville Ridge </option>
                        <option value="Hubbards"> Hubbards </option>
                        <option value="Middleton"> Middleton </option>
                        <option value="Lake Echo"> Lake Echo </option>
                        <option value="Greenwood"> Greenwood </option>
                        <option value="Meteghan"> Meteghan </option>
                        <option value="Grand Lake Road"> Grand Lake Road </option>
                        <option value="New Glasgow"> New Glasgow </option>
                        <option value="West Pubnico"> West Pubnico </option>
                        <option value="Auburn"> Auburn </option>
                        <option value="West Gore"> West Gore </option>
                        <option value="Timberlea"> Timberlea </option>
                        <option value="Liverpool"> Liverpool </option>
                        <option value="Osborne Harbour"> Osborne Harbour </option>
                        <option value="Stewiacke"> Stewiacke </option>
                        <option value="Middle Musquodoboit"> Middle Musquodoboit </option>
                        <option value="Springhill"> Springhill </option>
                        <option value="Lower Sackville"> Lower Sackville </option>
                        <option value="Eastern Passage"> Eastern Passage </option>
                        <option value="Coxheath"> Coxheath </option>
                        <option value="Cookville"> Cookville </option>
                        <option value="Coldbrook"> Coldbrook </option>
                        <option value="Sydney River"> Sydney River </option>
                        <option value="Meteghan Centre"> Meteghan Centre </option>
                        <option value="Post Road"> Post Road </option>
                        <option value="New Waterford"> New Waterford </option>
                        <option value="Beechville"> Beechville </option>
                        <option value="Howie Centre"> Howie Centre </option>
                        <option value="Tusket"> Tusket </option>
                    </select>
                </div>
    
                <div>
                    <p>Enter minimum capacity:</p>
                    <input type="text" id="min_capacity" name='min_capacity'> 
                </div>

                <div>
                    <p>Enter maximum capacity:</p>
                    <input type="text" id="max_capacity" name='max_capacity'> 
                </div>

                <div>
                    <input type="checkbox" id= "age_infant" name='age_infant'> Infant Age </input>
                </div>

                <div>
                    <input type="checkbox" id= "age_toddler" name='age_toddler'> Toddler Age </input>
                </div>

                <div>
                    <input type="checkbox" id= "age_preschool" name='age_preschool'> Preschool Age </input>
                </div>

                <div>
                    <input type="checkbox" id= "age_school_age" name='age_school_age'> School Age </input>
                </div>
                
                <div>
                    <input type="checkbox" id= "prog-full_day" name='prog_full_day'> Full Day Program </input>
                </div>

                <div>
                    <input type="checkbox" id= "prog_part_day" name='prog_part_day'> Part Day Program </input>
                </div>
                
                <div>
                <input type="checkbox" id="annualInspection" checked> Annual Inspection Recorded </input>
                </div>
    
                <div>
                <input type="checkbox" id="unannouncedInspection" checked> Unannounced Annual Inspection Recorded </input>
                </div>
    
    
                <button type = "submit">Submit</button>

            </form>
        </div>
        </div>
    </div>

{% endblock content %}