{% extends 'layout.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename = 'directory.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'filter.css') }}">

{% endblock head %}


{% block content %}

    <div class = "scroll-parent flexh">
        
        <div class = "panel scroll-parent flexv fgrow c3">
            <h2 class = "title">Daycares</h2>
            <div class = "scroll flexv">
                {% for daycare in database %}
                <a class="scroll-item panel daycare link c3d" href = "/daycare/{{ daycare['index']}}">
                    <h4 class = "raw center"> {{ daycare["facility_name"] }}</h4>
                    <h5 class = "raw center"><i>{{ daycare["address"] }}, {{ daycare["city"] }}</i></h5>
                    <p class = "raw center"><b>Ages:</b> {{ daycare["age_range"] }} ~ <b>Capacity:</b> {{ daycare["total_licance_capacity"] }} </p>
                    <p class = "raw center"><b>Phone:</b> {{ daycare["phone"] }} ~ <b>Email:</b> {{ daycare["email"] }}</p>
                    <p class = "raw center"></p>
                </a>
                {% endfor %}
            </div>
        </div>

        <div class="filter panel flexv c3">
            <h2 class="title">Filters</h2>
    
            <form class = "fgrow flexv" method = "POST" autocomplete = "off" action = "{{url_for('directory')}}">
    
            {% include 'filter.html' %}
    
            </form>
        
            <script>
                window.onbeforeunload = function()
                {
                    sessionStorage.setItem("county", $('#county').val());
                };
                window.onload = function() 
                {
                    if (sessionStorage.getItem("county") !== null) $('county').val("");
                };
            </script>
    
        </div>

    </div>

{% endblock content %}