{% extends 'layout.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename = 'directory.css') }}">

{% endblock head %}


{% block content %}

    <div class = "flexh">
        <div class = "directory flexv">
            {% for daycare in database %}
                <div class = "daycare-box red">
                    <h4>{{ daycare["facility_name"] }}</h4>
                </div>
            {% endfor %}
        </div>
        <div class = "filter">
            <h3>FILTERS</h3>
        </div>

    </div>

{% endblock content %}