{% block filters %}

    <div class="section colord">
        <select class="select" name="county">
            <option value="noSelection"> Choose a County </option>
            <option value="Annapolis County"> Annapolis </option>
            <option value="Antigonish County"> Antigonish </option>
            <option value="Halifax County"> Halifax </option>
            <option value="Cape Breton County"> Cape Breton </option>
            <option value="Colchester County"> Colchester </option>
            <option value="Cumberland County"> Cumberland </option>
            <option value="Digby County"> Digby </option>
            <option value="Hants County"> Hants </option>
            <option value="Inverness County"> Inverness </option>
            <option value="Kings County"> Kings </option>
            <option value="Lunenburg County"> Lunenburg </option>
            <option value="Pictou County"> Pictou </option>
            <option value="Queens County"> Queens </option>
            <option value="Richmond County"> Richmond </option>
            <option value="Shelburne County"> Shelburne </option>
            <option value="Yarmouth County"> Yarmouth </option>
        </select>
    </div>

    <div class="section colord">
        <select class="select" name='city'>
            <option value="noSelection"> Choose a City </option>
            <option value="Antigonish"> Antigonish </option>
            <option value="Arichat"> Arichat </option>
            <option value="Auburn"> Auburn </option>
            <option value="Barrington Passage"> Barrington Passage </option>
            <option value="Beaver Bank"> Beaver Bank </option>
            <option value="Bedford"> Bedford </option>
            <option value="Beechville"> Beechville </option>
            <option value="Berwick"> Berwick </option>
            <option value="Bible Hill"> Bible Hill </option>
            <option value="Bridgewater"> Bridgewater </option>
            <option value="Brookfield"> Brookfield </option>
            <option value="Brooklyn"> Brooklyn </option>
            <option value="Brookdale"> Brookdale </option>
            <option value="Caledonia"> Caledonia </option>
            <option value="Cambridge"> Cambridge </option>
            <option value="Canning"> Canning </option>
            <option value="Chester"> Chester </option>
            <option value="Chéticamp"> Chéticamp </option>
            <option value="Clark's Harbour"> Clark's Harbour </option>
            <option value="Coldbrook"> Coldbrook </option>
            <option value="Cole Harbour"> Cole Harbour </option>
            <option value="Cookville"> Cookville </option>
            <option value="Coxheath"> Coxheath </option>
            <option value="Dartmouth"> Dartmouth </option>
            <option value="Debert"> Debert </option>
            <option value="Digby"> Digby </option>
            <option value="Dutch Settlement"> Dutch Settlement </option>
            <option value="East Preston"> East Preston </option>
            <option value="Eastern Passage"> Eastern Passage </option>
            <option value="Enfield"> Enfield </option>
            <option value="Gaspereau"> Gaspereau </option>
            <option value="Grand Lake Road"> Grand Lake Road </option>
            <option value="Greenwood"> Greenwood </option>
            <option value="CFB Greenwood"> Cfb Greenwood </option>
            <option value="Halifax"> Halifax </option>
            <option value="Hammonds Plains"> Hammonds Plains </option>
            <option value="Hatchet Lake"> Hatchet Lake </option>
            <option value="Howie Centre"> Howie Centre </option>
            <option value="Hubley"> Hubley </option>
            <option value="Hubbards"> Hubbards </option>
            <option value="Kentville"> Kentville </option>
            <option value="Lake Echo"> Lake Echo </option>
            <option value="Lantz"> Lantz </option>
            <option value="Lawrencetown"> Lawrencetown </option>
            <option value="Little Bras D'or"> Little Bras D'or </option>
            <option value="Liverpool"> Liverpool </option>
            <option value="Lockeport"> Lockeport </option>
            <option value="Lower South River"> Lower South River </option>
            <option value="Lower Sackville"> Lower Sackville </option>
            <option value="Lunenburg"> Lunenburg </option>
            <option value="Masstown"> Masstown </option>
            <option value="Meteghan"> Meteghan </option>
            <option value="Meteghan Centre"> Meteghan Centre </option>
            <option value="Middle Sackville"> Middle Sackville </option>
            <option value="Middle Musquodoboit"> Middle Musquodoboit </option>
            <option value="Middleton"> Middleton </option>
            <option value="Milton Highlands"> Milton Highlands </option>
            <option value="Mira Road"> Mira Road </option>
            <option value="Mount Pleasant"> Mount Pleasant </option>
            <option value="New Glasgow"> New Glasgow </option>
            <option value="New Ross"> New Ross </option>
            <option value="New Waterford"> New Waterford </option>
            <option value="North Preston"> North Preston </option>
            <option value="Osborne Harbour"> Osborne Harbour </option>
            <option value="Oxford"> Oxford </option>
            <option value="Parrsboro"> Parrsboro </option>
            <option value="Pictou"> Pictou </option>
            <option value="Post Road"> Post Road </option>
            <option value="Port Hawkesbury"> Port Hawkesbury </option>
            <option value="Port Williams"> Port Williams </option>
            <option value="Porters Lake"> Porters Lake </option>
            <option value="Prospect Bay"> Prospect Bay </option>
            <option value="Salmon River"> Salmon River </option>
            <option value="Shearwater"> Shearwater </option>
            <option value="Shelburne"> Shelburne </option>
            <option value="Shubenacadie"> Shubenacadie </option>
            <option value="Springhill"> Springhill </option>
            <option value="St. Peter's"> St. Peter's </option>
            <option value="Stellarton"> Stellarton </option>
            <option value="Stewiacke"> Stewiacke </option>
            <option value="Stoney Island"> Stoney Island </option>
            <option value="Sydney Mines"> Sydney Mines </option>
            <option value="Sydney River"> Sydney River </option>
            <option value="Tatamagouche"> Tatamagouche </option>
            <option value="Timberlea"> Timberlea </option>
            <option value="Trenton"> Trenton </option>
            <option value="Truro"> Truro </option>
            <option value="Tusket"> Tusket </option>
            <option value="Upper Tantallon"> Upper Tantallon </option>
            <option value="Valley"> Valley </option>
            <option value="Waverley"> Waverley </option>
            <option value="West Gore"> West Gore </option>
            <option value="West Pubnico"> West Pubnico </option>
            <option value="Westmount"> Westmount </option>
            <option value="Westville"> Westville </option>
            <option value="Whycocomagh"> Whycocomagh </option>
            <option value="Wilmot"> Wilmot </option>
            <option value="Windsor"> Windsor </option>
            <option value="Wolfville Ridge"> Wolfville Ridge </option>
            <option value="Yarmouth"> Yarmouth </option>
        </select>
    </div>

    <div class="flexv section colord">
        <h4 class = "section-title">Minimum Capacity</h5>
        <input class="input" type="text" name='min_capacity'>
    </div>

    <div class="flexv section colord">
        <h4 class = "section-title">Maximum Capacity</h5>
        <input class="input" type="text" name='max_capacity'>
    </div>

    <div class="section colord">
        <h4 class = "section-title">Ages</h5>

        <div class="flexh">
            <div class="flexv fgrow">
                <div class="flexh checkbox-wrap">
                    <input class="checkbox" type="checkbox" name='age_infant'>
                    <p class="raw filter-checkbox-text">Infant Age</p>
                    </input>
                </div>

                <div class="flexh checkbox-wrap">
                    <input class="checkbox" type="checkbox" name='age_toddler'>
                    <p class="raw filter-checkbox-text">Toddler Age</p>
                    </input>
                </div>
            </div>

            <div class="flexv fgrow">
                <div class="flexh checkbox-wrap">
                    <input class="checkbox" type="checkbox" name='age_preschool'>
                    <p class="raw filter-checkbox-text">Preschool Age</p>
                    </input>
                </div>

                <div class="flexh checkbox-wrap">
                    <input class="checkbox" type="checkbox" name='age_school_age'>
                    <p class="raw filter-checkbox-text">School Age</p>
                    </input>
                </div>
            </div>
        </div>

    </div>


    <div class = "section colord">
        <h4 class = "section-title">Programs</h5>

        <div class="flexh checkbox-wrap">
            <input class="checkbox" type="checkbox" name='prog_full_day'>
            <p class="raw filter-checkbox-text">Full Day Program</p>
            </input>
        </div>

        <div class="flexh checkbox-wrap">
            <input class="checkbox" type="checkbox" name='prog_part_day'>
            <p class="raw filter-checkbox-text">Part Day Program</p>
            </input>
        </div>
    </div>

    <div class="section colord">
        <h4 class = "section-title">Inspections</h5>

        <div class="flexh checkbox-wrap">
            <input class="checkbox" type="checkbox" name='annualInspection'>
            <p class="raw filter-checkbox-text">Annual Inspection Recorded</p>
            </input>
        </div>

        <div class="flexh checkbox-wrap">
            <input class="checkbox" type="checkbox" name='unannouncedInspection'>
            <p class="raw filter-checkbox-text">Unannounced Inspection Recorded</p>
            </input>
        </div>
    </div>


    <button class="submit colord" type="submit"><h3 class = "raw">SUBMIT</h3></button>

{% endblock filters %}
