{% extends 'layout.html' %}

{% block head %}

    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'home.css') }}">

{% endblock head %}

{% block content %}
        <div class = "home flexh">

            <div class = "main flexv c1">
                <div class = "title">
                    <h1 class = "title-text">Data Daycare</h1>
                </div>
                <div class = "search flexv">
                    <div class = "search-wrapper">
                        <h3 class = "search-text">FIND THE PERFECT DAYCARE TO SUIT YOU</h3>
                        <form class = " search-input flexv">
                            <input class = "search-bar" type = "text">
                            <input class = "search-button" type = "submit" value = "Search">
                        </form>
                    </div>
                </div>
            </div>

            <div class = "nearby flexv c1">
                <h2 class = "nearby-text">Nearby Daycares</h2>
                <div class = " nearby-items flexv">
                    {% for daycare in nearby %}
                    <div class = "nearby-wrap c1d">
                        <h4 class = "raw nearby-name">{{ daycare["facility_name"] }}</h4>
                        <h5 class = "raw nearby-address">{{ daycare["address"] }}, {{ daycare["city"] }}</h5>
                        <h6 class = "raw nearby-sub-item1">Ages: {{ daycare["age_range"] }}</h6>
                        <div class = "nearby-sub flexh">
                            <h6 class = "raw nearby-sub-item2">Phone: {{ daycare["phone"] }}</h6>
                            <h6 class = "raw">Email: <a href="">{{ daycare["email"] }}</a></h6>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
{% endblock content %}