<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Paytone+One">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Days+One">
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'layout.css') }}">
        <title>Data Daycare</title>

        {% block head %}

        {% endblock head %}
    </head>

    <body>
        <div class = "flexv fit">
            <div class = "nav-bar flexh white">
                <a class = "panel nav-btn fgrow home-text c1" href = "{{ url_for('home') }}">
                    <h3 class = "title">HOME</h3>
                </a>
                <a class = "panel nav-btn fgrow map-text c2" href = "{{ url_for('map') }}">
                    <h3 class = "title">MAP</h3>
                </a>
                <a class = "panel nav-btn fgrow dir-text c3" href = "{{ url_for('directory') }}">
                    <h3 class = "title ">DIRECTORY</h3>
                </a>
                <a class = "panel nav-btn fgrow about-text c4" href = "{{ url_for('about') }}">
                    <h3 class = "title">ABOUT</h3>
                </a>
            </div>
    
            {% block content %}
    
            {% endblock content %}
        </div>
    </body>
</html>