<html class = "raw">
    <head>
        <!-- Global head attributes -->
        <meta charset="UTF-8">
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css') }}">

        {% block head %}

            {% if title %}
                <title>Data Daycare - {{ title }}</title>
                {% else %}
                <title>Data Daycare</title>
            {% endif %}

        {% endblock head %}
    </head>

    <body class = "raw">
        <div class = "flexv fill">
            <div class = "nav-bar flexh blue">
                <a class = "nav-button red" href = "{{ url_for('default') }}">Home</a>
                <a class = "nav-button red" href = "{{ url_for('default') }}">Map</a>
                <a class = "nav-button red" href = "{{ url_for('default') }}">Directory</a>
                <a class = "nav-button red" href = "{{ url_for('about') }}">About</a>
            </div>
    
            <div class = "content flexv">
            {% block content %}
    
            {% endblock content %}
            </div>
        </div>
    </body>
</html>