<html>
    <head>
        <!-- Global head attributes -->
        <meta charset="UTF-8">
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css') }}">

        {% block head %}

            {% if title %}
                <title>Data Daycare - {{ title }}</title>
                {% else %}
                <title>Data Daycare</title>
            {% endif %}

        {% endblock head %}
    </head>

    <body id = "body">
        <div class = "page-frame">
            <div class = "nav-bar">
                <a id = "home-button" href = "{{ url_for('default') }}">Home</a>
                <a id = "map-button" href = "{{ url_for('default') }}">Map</a>
                <a id = "directory-button" href = "{{ url_for('default') }}">Directory</a>
                <a id = "about-button" href = "{{ url_for('about') }}">About</a>
            </div>
    
            <div class = "content-frame">
            {% block content %}
    
            {% endblock content %}
            </div>
        </div>
    </body>
</html>