{% extends 'layout.html' %}

{% block head %}

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename = 'map.css') }}">

{% endblock head %}

{% block content %}

<div class="page flexh">
    <div class="map-panel panel fgrow flexh c2">
        <div id="map" class="map"></div>
    </div>

    <div class="filter panel c2">

        <h3 class="title">FILTERS</h3>

        <form method="POST" action="{{ url_for('directory') }}">
            <div class="filter-items flexv">

                <div class="filter-section c2d">
                    <select class="filter-select" name="county">
                        <option value="noSelection"> Choose a County </option>
                        <option value="Antigonish County"> Antigonish </option>
                        <option value="Halifax County"> Halifax </option>
                        <option value="Cumberland County"> Cumberland </option>
                        <option value="Kings County"> Kings </option>
                        <option value="Cape Breton County"> Cape Breton </option>
                        <option value="Colchester County"> Colchester </option>
                        <option value="Richmond County"> Richmond </option>
                        <option value="Shelburne County"> Shelburne </option>
                        <option value="Annapolis County"> Annapolis </option>
                        <option value="Yarmouth County"> Yarmouth </option>
                        <option value="Queens County"> Queens </option>
                        <option value="Inverness County"> Inverness </option>
                        <option value="Pictou County"> Pictou </option>
                        <option value="Lunenburg County"> Lunenburg </option>
                        <option value="Hants County"> Hants </option>
                        <option value="Digby County"> Digby </option>
                    </select>
                </div>

                <div class="filter-section c2d">
                    <select class="filter-select" name='city'>
                        <option value="noSelection"> Choose a City </option>
                        <option value="Westville"> Westville </option>
                        <option value="Cfb Greenwood"> Cfb Greenwood </option>
                        <option value="Antigonish"> Antigonish </option>
                        <option value="Barrington Passage"> Barrington Passage </option>
                        <option value="Hammonds Plains"> Hammonds Plains </option>
                        <option value="Debert"> Debert </option>
                        <option value="Port Hawkesbury"> Port Hawkesbury </option>
                        <option value="Bridgewater"> Bridgewater </option>
                        <option value="Parrsboro"> Parrsboro </option>
                        <option value="Truro"> Truro </option>
                        <option value="Cole Harbour"> Cole Harbour </option>
                        <option value="Clark's Harbour"> Clark's Harbour </option>
                        <option value="Enfield"> Enfield </option>
                        <option value="Yarmouth"> Yarmouth </option>
                        <option value="Lawrencetown"> Lawrencetown </option>
                        <option value="Dartmouth"> Dartmouth </option>
                        <option value="Shubenacadie"> Shubenacadie </option>
                        <option value="St. Peter's"> St. Peter's </option>
                        <option value="Salmon River"> Salmon River </option>
                        <option value="Milton Highlands"> Milton Highlands </option>
                        <option value="Hatchet Lake"> Hatchet Lake </option>
                        <option value="Lockeport"> Lockeport </option>
                        <option value="Dutch Settlement"> Dutch Settlement </option>
                        <option value="Chester"> Chester </option>
                        <option value="Oxford"> Oxford </option>
                        <option value="Brookdale"> Brookdale </option>
                        <option value="Halifax"> Halifax </option>
                        <option value="Shearwater"> Shearwater </option>
                        <option value="Stoney Island"> Stoney Island </option>
                        <option value="Mount Pleasant"> Mount Pleasant </option>
                        <option value="Lunenburg"> Lunenburg </option>
                        <option value="Westmount"> Westmount </option>
                        <option value="Tatamagouche"> Tatamagouche </option>
                        <option value="Prospect Bay"> Prospect Bay </option>
                        <option value="Chéticamp"> Chéticamp </option>
                        <option value="Bedford"> Bedford </option>
                        <option value="Pictou"> Pictou </option>
                        <option value="Upper Tantallon"> Upper Tantallon </option>
                        <option value="Hubley"> Hubley </option>
                        <option value="Whycocomagh"> Whycocomagh </option>
                        <option value="Valley"> Valley </option>
                        <option value="North Preston"> North Preston </option>
                        <option value="Lower South River"> Lower South River </option>
                        <option value="Canning"> Canning </option>
                        <option value="Cambridge"> Cambridge </option>
                        <option value="Berwick"> Berwick </option>
                        <option value="Trenton"> Trenton </option>
                        <option value="Arichat"> Arichat </option>
                        <option value="New Ross"> New Ross </option>
                        <option value="Brookfield"> Brookfield </option>
                        <option value="Middle Sackville"> Middle Sackville </option>
                        <option value="Kentville"> Kentville </option>
                        <option value="Bible Hill"> Bible Hill </option>
                        <option value="Brooklyn"> Brooklyn </option>
                        <option value="Mira Road"> Mira Road </option>
                        <option value="Caledonia"> Caledonia </option>
                        <option value="Porters Lake"> Porters Lake </option>
                        <option value="Gaspereau"> Gaspereau </option>
                        <option value="Wilmot"> Wilmot </option>
                        <option value="Windsor"> Windsor </option>
                        <option value="East Preston"> East Preston </option>
                        <option value="Waverley"> Waverley </option>
                        <option value="Port Williams"> Port Williams </option>
                        <option value="Digby"> Digby </option>
                        <option value="Stellarton"> Stellarton </option>
                        <option value="Shelburne"> Shelburne </option>
                        <option value="Beaver Bank"> Beaver Bank </option>
                        <option value="Masstown"> Masstown </option>
                        <option value="Little Bras D'or"> Little Bras D'or </option>
                        <option value="Sydney Mines"> Sydney Mines </option>
                        <option value="Lantz"> Lantz </option>
                        <option value="Wolfville Ridge"> Wolfville Ridge </option>
                        <option value="Hubbards"> Hubbards </option>
                        <option value="Middleton"> Middleton </option>
                        <option value="Lake Echo"> Lake Echo </option>
                        <option value="Greenwood"> Greenwood </option>
                        <option value="Meteghan"> Meteghan </option>
                        <option value="Grand Lake Road"> Grand Lake Road </option>
                        <option value="New Glasgow"> New Glasgow </option>
                        <option value="West Pubnico"> West Pubnico </option>
                        <option value="Auburn"> Auburn </option>
                        <option value="West Gore"> West Gore </option>
                        <option value="Timberlea"> Timberlea </option>
                        <option value="Liverpool"> Liverpool </option>
                        <option value="Osborne Harbour"> Osborne Harbour </option>
                        <option value="Stewiacke"> Stewiacke </option>
                        <option value="Middle Musquodoboit"> Middle Musquodoboit </option>
                        <option value="Springhill"> Springhill </option>
                        <option value="Lower Sackville"> Lower Sackville </option>
                        <option value="Eastern Passage"> Eastern Passage </option>
                        <option value="Coxheath"> Coxheath </option>
                        <option value="Cookville"> Cookville </option>
                        <option value="Coldbrook"> Coldbrook </option>
                        <option value="Sydney River"> Sydney River </option>
                        <option value="Meteghan Centre"> Meteghan Centre </option>
                        <option value="Post Road"> Post Road </option>
                        <option value="New Waterford"> New Waterford </option>
                        <option value="Beechville"> Beechville </option>
                        <option value="Howie Centre"> Howie Centre </option>
                        <option value="Tusket"> Tusket </option>
                    </select>
                </div>

                <div class="flexv filter-section c2d">
                    <h5 class="raw filter-section-title">Minimum Child Capacity</h5>
                    <input class="filter-input" type="text" name='min_capacity'>
                </div>

                <div class="flexv filter-section c2d">
                    <h5 class="raw filter-section-title">Maximum Child Capacity</h5>
                    <input class="filter-input" type="text" name='max_capacity'>
                </div>

                <div class="filter-section c2d">
                    <h5 class="raw filter-section-title">Ages</h5>

                    <div class="flexh">
                        <div class="flexv filter-column">
                            <div class="flexh checkbox-warp">
                                <input class="checkbox" type="checkbox" name='age_infant'>
                                <p class="raw filter-checkbox-text">Infant Age</p>
                                </input>
                            </div>

                            <div class="flexh checkbox-warp">
                                <input class="checkbox" type="checkbox" name='age_toddler'>
                                <p class="raw filter-checkbox-text">Toddler Age</p>
                                </input>
                            </div>
                        </div>

                        <div class="flexv filter-column">
                            <div class="flexh checkbox-warp">
                                <input class="checkbox" type="checkbox" name='age_preschool'>
                                <p class="raw filter-checkbox-text">Preschool Age</p>
                                </input>
                            </div>

                            <div class="flexh checkbox-warp">
                                <input class="checkbox" type="checkbox" name='age_school_age'>
                                <p class="raw filter-checkbox-text">School Age</p>
                                </input>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="filter-section c2d">
                    <h5 class="raw filter-section-title">Programs</h5>

                    <div class="flexh checkbox-warp">
                        <input class="checkbox" type="checkbox" name='prog_full_day'>
                        <p class="raw filter-checkbox-text">Full Day Program</p>
                        </input>
                    </div>

                    <div class="flexh checkbox-warp">
                        <input class="checkbox" type="checkbox" name='prog_part_day'>
                        <p class="raw filter-checkbox-text">Part Day Program</p>
                        </input>
                    </div>
                </div>

                <div class="filter-section c2d">
                    <h5 class="raw filter-section-title">Inspections</h5>

                    <div class="flexh checkbox-warp">
                        <input class="checkbox" type="checkbox" name='annualInspection'>
                        <p class="raw filter-checkbox-text">Annual Inspection Recorded</p>
                        </input>
                    </div>

                    <div class="flexh checkbox-warp">
                        <input class="checkbox" type="checkbox" name='unannouncedInspection'>
                        <p class="raw filter-checkbox-text">Unannounced Inspection Recorded</p>
                        </input>
                    </div>
                </div>


                <button class="submit" type="submit">Submit</button>

            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    navigator.geolocation.getCurrentPosition(setPosition);

    function setPosition(position) {
        var map = L.map('map').setView([position.coords.latitude, position.coords.longitude], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map)

        const database = {{database | tojson}};

        for (i = 0; i < database.length; i++) {
            if ('location' in database[i]) {
                var link = '<a href="/daycare/' + i + '">Click here for more info.</a>'
                L.marker([database[i].location.latitude, database[i].location.longitude]).addTo(map)
                    .bindPopup("<b>" + database[i].facility_name + "</b><br>" + link);
            }
        }
    }
</script>

{% endblock content %}