.about {flex-grow: 1; border-radius: 10px; margin-left: 8px; margin-right: 8px; margin-bottom: 8px;}
.about-wrap {margin: auto;}

.title {text-align: center;}
.header {text-align: center;}
.text {text-align: center;}