
.about {justify-content: center; align-items: center;}
.about-title {width: 650px; height: 175px; line-height: 150px;}
.about-section {width: 350px; height: 75px; justify-content: center;}

.title {text-align: center;}
.header {text-align: center;}
.text {text-align: center;}