
:root {
    --bg-colorl: rgb(241, 104, 137);
    --bg-color:  rgb(239,  71, 111);
    --bg-colord: rgb(196,  59,  91);
}


.c-panel
{
    background-color: var(--bg-color);
}


.info {
    text-align: center;
}
.bold {
    line-height: 30px;
    margin: 4px 8px;
}
.reg {
    line-height: 30px;
    margin: 4px 8px;
}