
.directory {flex-grow: 1; margin-right: 8px; margin-bottom: 8px; margin-left: 8px;}
.list {flex-grow: 1; border-radius: 10px; overflow: hidden;}
.list-items {flex-grow: 1; overflow: auto;}
.filter {width: 400px; border-radius: 10px; margin-left: 8px;}
.filter-text {text-align: center;margin-top:15px;}
.filter-select {
    border-radius: 10px;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 8px;
    padding: 4px 8px;
}
.filter-wrap {margin-right: 8px; margin-top: 8px; margin-left: 8px;}
.filter-caption {text-align: center;}
.filter-input {border-radius: 10px; padding: 4px 8px;}

.daycare-wrap {
    text-decoration: none;
    color: black;
    background-color: rgb(  5, 176, 131);
    border-radius: 10px;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 8px;
    padding: 5px 10px;
}
.daycare-wrap:hover { background-color: rgb( 51, 221, 177);}

::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-track {background: rgb(  6, 214, 160);}
::-webkit-scrollbar-thumb {background: rgb(  5, 176, 131);}
::-webkit-scrollbar-thumb:hover {background: rgb( 51, 221, 177);}
