.filter {width: 400px;}
.daycare-box {
    margin-right: 50px;
    margin-left: 50px;
}
.directory {flex-grow: 1;}

.individual_daycare {
    background-color: rgb(  5, 176, 131);
    display:block;
    border-radius: 10px;
    margin: 5px 10px;
    text-decoration: none;
    padding: 5px 10px;
}

.c3l    {background-color: rgb( 51, 221, 177);}
.c3     {background-color: rgb(  6, 214, 160);}
.c3d    {background-color: rgb(  5, 176, 131);}


.daycareLink {
    text-decoration: none;
    color: black;
}

.daycareLink:hover {background-color: rgb( 51, 221, 177);}