
.filter {width: 350px;}

.section {margin: 4px 4px; padding: 8px 8px; border-radius: 8px;}
.section-title {margin: 4px 4px; text-align: center; line-height: 15px; margin-bottom: 8px;}
.select {border-radius: 10px; padding: 8px 8px; width:100%;}
.input {border-radius: 10px; padding: 4px 8px;}

.checkbox {margin: 4px 4px;}
.checkbox-wrap {padding: 2px 2px;}
.filter-checkbox-text {margin-top: auto; margin-bottom: auto;}

.submit {margin: 4px 4px; border-radius: 8px; border: none; padding: 8px 0px; margin-top: auto; margin-bottom: auto;}