.title-wrap {margin: auto;}

.nearby {width:500px;}

.link:hover {background-color: rgb(241, 104, 137);}

.nearby-address { margin-bottom:2px;}
.nearby-phone {width:135px;}
.nearby-name {margin-bottom:4px; transform: scaleY(1.15);}
.nearby-age {width:160px;}

::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-track {background: rgb(239,  71, 111);}
::-webkit-scrollbar-thumb {background: rgb(196,  59,  91);}
::-webkit-scrollbar-thumb:hover {background: rgb(241, 104, 137);}