
/* CONTAINERS ============================================================================================= */
.panel {margin:4px 4px; padding:4px 4px; border-radius: 8px;}
.cont {margin: auto;}
/* ======================================================================================================== */

/* FONTS ================================================================================================== */
h1 {font-size:125; font-family:"Paytone One"; font-variant:small-caps;}
h2 {font-size:50; font-family:"Paytone One"; font-variant:small-caps;}
h3 {font-size:25; font-family:"Paytone One"; font-variant:small-caps;}
h4 {font-size:22; font-family:"Days One"; font-variant:small-caps;}
h5 {font-size:16; font-family:"Nunito"; font-weight:800;}
h6 {font-size:13; font-family:"Nunito"; font-weight:800;}
p  {font-size:13; font-family:"Nunito"; font-weight:500;}
.title {text-align: center; margin: 4px 4px;}
.sub-title {text-align: left; margin: 0px;}
.center {text-align: center;}
/* ======================================================================================================== */

/* LINKS ================================================================================================== */
.link {text-decoration: none; color: black}
/* ======================================================================================================== */

/* CONSTRAINTS ============================================================================================ */
.raw {margin:0px; padding:0px; border:0px;}
.fit {height:100%; width:100%;}
.scroll {overflow:auto;}
.scroll-parent {overflow: hidden;}
/* ======================================================================================================== */

/* FLEXBOX ================================================================================================ */
.flexv {display:flex; flex-direction:column;}
.flexh {display:flex; flex-direction:row;}
.fgrow {flex-grow: 1;}
/* ======================================================================================================== */


/* NAVBAR ================================================================================================= */
.nav-bar {justify-content:space-evenly;padding: 4px 4px; padding-bottom: 0px;}
.nav-btn {text-decoration: none; color: black}

.home-text:hover       {background-color:white; color: rgb(241, 104, 137);}
.map-text:hover        {background-color:white; color: rgb(255, 217, 129);}
.dir-text:hover  {background-color:white; color: rgb( 51, 221, 177);}
.about-text:hover      {background-color:white; color: rgb( 60, 159, 192);}
/* ======================================================================================================== */

/* COLORS ================================================================================================= */
.c1l    {background-color: rgb(241, 104, 137);}
.c1     {background-color: rgb(239,  71, 111);}
.c1d    {background-color: rgb(196,  59,  91);}
.c2l    {background-color: rgb(255, 217, 129);}
.c2     {background-color: rgb(255, 209, 102);}
.c2d    {background-color: rgb(209, 172,  84);}
.c3l    {background-color: rgb( 51, 221, 177);}
.c3     {background-color: rgb(  6, 214, 160);}
.c3d    {background-color: rgb(  5, 176, 131);}
.c4l    {background-color: rgb( 60, 159, 192);}
.c4     {background-color: rgb( 17, 138, 178);}
.c4d    {background-color: rgb( 14, 113, 146);}
.c5l    {background-color: rgb( 52,  94, 108);}
.c5     {background-color: rgb(  7,  59,  76);}
.c5d    {background-color: rgb(  7,  49,  63);}
.white  {background-color: white;}
/* ======================================================================================================== */

/* STYLE REQUIREMENTS ===================================================================================== */
body {margin:0px; border:0px; padding:4px 4px;}
/* ======================================================================================================== */